@model GestorReservas.Models.Mesa

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Seguro quieres borrar esto?</h3>
<div>
    <h4>Mesa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioSeña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioSeña)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver atrás", "Index")
        </div>
    }
</div>
